<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Jobs
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<% @jobs.each do |job| %>
  <ul>
    <li><%=link_to job.title, company_job_path(job.company, job)%> at
        <%=link_to job.company.name, company_path(job.company)%> in
        <%= job.city %></br>
        <%="Rating: #{job.level_of_interest}"%></br></br>
  </ul>
<% end %>
