<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Companies
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>

<% @companies.each do |company| %>
    <p><%=link_to company.name, company_path(company)%></p>
<% end %>
</br>
</br>

<p><%= link_to "Create New Company", new_company_path%></p>
