<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All Companies
      </h1>
      <h2 class="subtitle">
      </h2>
    </div>
  </div>
</section>


<p><%= link_to "See All Categories", categories_path%></p>
<p><%= link_to "See All Jobs", jobs_path%></p>


<p><%= link_to "Create New Company", new_company_path%></p>
